{{#each sites}}

  <div id="content" class="content">
    <div class="blogs">
      <h2>{{name}}</h2>
      <p><span>Site ID:</span> {{id}}  |  <span>Keywords:</span> {{keywords}}</p>
      <p class="blog-details">Details: {{description}}</p>
    </div>
  </div>

{{/each}}
