{{#each sites}}

  <div id="content" class="content">
    <div class="blogs">
      <h1>{{name}}</h1>
      <p>Site ID: {{id}}</p>
      <p>Keywords: {{keywords}}</p>
      <p>Details: {{description}}</p>
    </div>
  </div>

{{/each}}
