@import '~bootstrap/scss/bootstrap';

a,
button {
  cursor: pointer;
}

nav {
  background-color: rgba(255, 196, 1, 0.5);
  position: static;
}

h3 {
  margin: 0 auto;
}

.form-span {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  width: 159px;
}

.modal {
  margin-top: 10%;
}

.modal-input {
  width: 60%;
}

.form-content {
  color: rgb(5, 54, 119);
  font-size: 15px;
  font-weight: 600;
}

.input {
  border-radius: 4px;
  margin: 10px;
  padding: 5px 8px;
}

.modal-header {
  background-color: rgba(5, 54, 119, 1);
  color: white;
}

.modal-footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#sign-up-close {
  display: flex;
  align-self: flex-end;
}

.auth-message {
  align-self: flex-start;
  color: rgba(5, 54, 119, 0.8);
  display: flex;
  font-size: 20px;
  margin: 0;
  padding: 10px 15px 10px 0;
}

.close {
  align-self: flex-end;
  border-radius: 5px;
  display: flex;
  margin: 0;
}

.btn {
  border: 1px solid rgba(5, 54, 119, 0.3);
  background-color: 1px solid rgba(5, 54, 119, 0.1);
  color: rgba(5, 54, 119, 0.9);
}

#sign-out {
  background-color: inherit;
  border: 0;
  color: black;
  padding-left: 0;
}

.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-decoration: underline;
}

span {
  font-weight: 600;
}

.title {
  color: rgba(5, 54, 119, 9);
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: 500;
}

img {
  height: 325px;
  margin: 0 0 20px;
  width: auto;
}

.searchbar {
  border: 1.5px solid rgba(5, 54, 119, 0.9);
  height: 40px;
  margin-bottom: 13px;
  max-width: 400px;
  min-width: 300px;
  width: 55vw;
}

#mag {
  border: 1.5px solid rgba(5, 54, 119, 0.9);
  font-size: 18px;
  height: 40px;
  margin-left: -1px;
  padding: 4.5px 8px 5.5px;
}

#jumbo {
  border-bottom: 1px solid rgba(5, 54, 119, 0.2);
  border-top: 1px solid rgba(5, 54, 119, 0.2);
  color: rgb(5, 54, 119);
  display: block;
  height: fit-content;
  position: relative;
  text-align: center;
}

#get {
  background-color: rgba(255, 196, 1, 0.9);
  border: 0;
  margin: 5px 40px;
}

#create {
  background-color: rgba(255, 196, 1, 0.9);
  border: 0;
  margin: 5px 40px;
}

label {
  font-size: 20px;
  font-weight: 600;
}

.create-content {
  background-color: white;
  border-bottom: 1px solid rgba(115, 115, 115, 0.4);
  border-radius: 5px;
  border-right: 1px solid rgba(115, 115, 115, 0.4);
  margin: auto;
  margin-bottom: 75px;
  margin-top: 50px;
  opacity: 0.8;
  padding: 10px;
  text-align: left;
  width: 75vw;
}

#main-create {
  background-color: rgba(115, 115, 115, 0.1);
  display: none;
  height: fit-content;
  margin-top: -32px;
  padding-top: 30px;
  position: relative;
}

#main-create::after {
  background: url('./public/images/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

#main-search {
  background-color: rgba(115, 115, 115, 0.1);
  display: none;
  height: fit-content;
  margin-top: -32px;
  padding-top: 30px;
  position: relative;
}

#main-search::after {
  background: url('./public/images/Ninigret.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  width: 100;
  z-index: -1;
}

main {
  background-color: rgba(115, 115, 115, 0.1);
  display: none;
  margin-top: -32px;
  overflow: scroll;
  padding-top: 30px;
  position: relative;
}

main::after {
  background: url('./public/images/Blackstone-River-Bikeway.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  // width: ;
  z-index: -1;
}

.container {
  align-items: center;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: auto;
  height: 90vh;
  justify-content: center;
  margin: 35px auto;
  margin-bottom: 55px;
  overflow: scroll;
}

.blogs {
  background-color: white;
  border-bottom: 1px solid rgba(115, 115, 115, 0.4);
  border-radius: 5px;
  border-right: 1px solid rgba(115, 115, 115, 0.4);
  display: flex;
  flex-direction: column;
  height: 35vh;
  margin: auto;
  min-width: 300px;
  opacity: 0.8;
  overflow: scroll;
  padding: 40px 35px 40px 20px;
  text-align: center;
  width: 55vw;
}

.blog-details {
  font-size: 20px;
}

.heroku {
  border: 1px solid rgba(115, 115, 115, 0.4);
  border-radius: 5px;
  margin: 0 auto;
  width: 50vw;
}

.description {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .searchbar {
    width: 50vw;
  }
}
